# Backend
# Gere com: openssl rand -hex 32
JWT_SECRET=
ADMIN_EMAIL=admin@acidc.com.br
ADMIN_PASSWORD=
FRONTEND_URL=https://acidc.com.br

# Frontend
VITE_API_URL=https://acidc.com.br
FRONTEND_PORT=8088
